%footer#footer
  .container
    .row
      .col-md-4
        = image_tag "logo-dark.png", class: "pull-xs-left", id: "footer-logo"
        &copy; #{Time.now.year} ___ Limited.
      .col-md-8.text-xs-right
        %nav.nav.nav-inline
          %a{href: "#"} About
          %a{href: "#"} Terms &amp; Conditions
          %a{href: "#"} Privacy Policy